<div class="rui-grid no-gutter">
  <div class="rui-grid-primary">
    <h2>Price Lookup</h2>
    <article class="product app-link primary group">
      <div class="col col-0">
        <%= image_tag "Lookup.gif" %>

      </div>
      <div class="col col-1">
        <h3 class="heading">
          Search price estimates for any property in Australia
        </h3>

        <p class="blurb">Try your own place or perhaps even that dream home around the corner?</p>
        <a class="article-link call-to-action">Try it today</a>
      </div>
    </article>
    <h2>From the Blog</h2>
    <article class="product post primary group">
      <div class="col col-0">
        <%= image_tag "Blog.jpg" %>
      </div>
      <div class="col col-1">
        <h4 class="heading">
          unit prices really rise in 2015?
        </h4>
        <span class="byline">by <span class="author">Danielle Cahill</span> </span>
        <p class="excerpt">Prices skyrocketed in some areas in 2015, with median house values rising by over 40% in some
          suburbs in Australia wh...</p>
      </div>
    </article>
    <article class="product post secondary">
      <div class="group col-0">
        <div class="col">
          <h5 class="heading">
            Darren Palmer loves the simple pleasures of home
          </h5>
        </div>
      </div>
      <div class="group col-1">
        <div class="col">
          <h5 class="heading">
           Australia's most expensive suburbs in 2015
          </h5>
        </div>
      </div>
    </article>
    <h2>Investment tools</h2>
    <article class="product app-link secondary group">
      <div class="col col-0">
        <%= image_tag "tools.jpg" %>
      </div>
      <div class="col col-1">
        <h4 class="heading">
          Looking for data to help you make a sound investment decision?
        </h4>
        <a class="article-link call-to-action">Start
          here</a>
      </div>
    </article>
    <h2>Discover</h2>
    <article class="product app-link secondary group">
      <div class="col col-0">
        <%= image_tag "discover.jpg" %>
      </div>
      <div class="col col-1">
        <h4 class="heading">
          Let us help you find your next place based on your lifestyle and budget
        </h4>
        <a class="article-link call-to-action" >Find
          a home</a>
      </div>
    </article>
  </div>
  <div style="height: 50px"></div>
</div>



