

<div class="rui-footer-row">
  <div class="rui-footer-column">
    <div class="rui-footer-social">
      <ul>
        <li class="rui-social">
        </li>
        <li class="rui-social">
            <span class="rui-visuallyhidden">Twitter</span>
        </li>
        <li class="rui-social">
            <span class="rui-visuallyhidden">Pinterest</span>
        </li>
        <li class="rui-social">
            <span class="rui-visuallyhidden">LinkedIn</span>
        </li>
        <li class="rui-social">
            <span class="rui-visuallyhidden">YouTube</span>
        </li>
        <li class="rui-social">
            <span class="rui-visuallyhidden">Google+</span>
        </li>
      </ul>
    </div>
    <div class="rui-footer-navigation">
      <ul>
        <li>Advertise with us</li>
        <li>Contact us</li>
        <li>Agent admin</li>
        <li>Media sales</li>
      </ul>
    </div>
  </div>
</div>
<div class="rui-footer-row rui-footer-faded-background">
  <div class="rui-footer-column">
    <div class="rui-footer-site-links">

      <!-- Toggle buttons shown on non-widescreen devices to display links -->
      <div id="rui-footer-bottom-toggles">
              <span class="rui-toggle-link" data-container="rui-footer-international-sites-content">
            International sites
            <span class="rui-icon rui-icon-arrow-solid-down"></span>
              <span class="rui-icon rui-icon-arrow-solid-up"></span>
              </span>
              <span class="rui-toggle-link" data-container="rui-footer-partner-sites-content">
            Partner sites
            <span class="rui-icon rui-icon-arrow-solid-down"></span>
              <span class="rui-icon rui-icon-arrow-solid-up"></span>
              </span>
      </div>

      <!-- The two link lists are displayed depending on media context, either as two horizontal lists that
  are always displayed or as two lists shown only when the relevant toggle button is pressed-->
      <div id="rui-footer-international-sites-content" class="rui-footer-international-sites rui-toggle-container">
              <span class="list list-column-1">
          <span class="rui-footer-site-links-large-screen-header">International sites:</span>
              <a href="http://www.athome.lu/" title="Property for sale and rent in Luxembourg">Luxembourg</a>
              <span class="pipe-separator">|</span>
              <a href="http://www.casa.it/" title="Property for sale and rent in Italy">Italy</a>
              <span class="pipe-separator">|</span>
              <a href="http://www.athome.de/" title="Property for sale and rent in Germany">Germany</a>
              <span class="pipe-separator">|</span>
              </span>
              <span class="list list-column-2">
          <a href="http://myfun.com/" title="Chinese language site for Australian properties">China</a>
          <span class="pipe-separator">|</span>
              <a href="http://www.immoregion.fr/" title="Property for sale and rent in France">France</a>
              </span>
      </div>
      <div id="rui-footer-partner-sites-content" class="rui-footer-partner-sites rui-toggle-container">
        <span class="rui-footer-site-links-large-screen-header">Partner sites:</span>
              <span class="list list-column-1">
          <a href="http://www.news.com.au/" target="_blank" title="Latest news">news.com.au</a>
          <span class="pipe-separator">|</span>
              <a href="http://www.careerone.com.au/" target="_blank" title="Search job listings">careerone.com.au</a>
              <span class="pipe-separator">|</span>
              <a href="http://www.carsguide.com.au/" target="_blank" title="Search for cars">carsguide.com.au</a>
              <span class="pipe-separator">|</span>
              <a href="http://www.foxsports.com.au/" target="_blank" title="Sports news">foxsports.com.au</a>
              <span class="pipe-separator">|</span>
              <a href="http://www.homeguru.com.au/" target="_blank" title="Home valuations">homeguru.com.au</a>
              <span class="pipe-separator">|</span>
              <a href="http://www.realestate.co.nz/?arcn&amp;rsf=globalnav" target="_blank" title="Property for sale and rent in New Zealand">realestate.co.nz</a>
              <span class="pipe-separator">|</span>
              </span>
              <span class="list list-column-2">
          <a href="http://www.gohome.com.hk/" target="_blank" title="gohome.com.hk">gohome.com.hk</a>
          <span class="pipe-separator">|</span>
              <a href="http://www.squarefoot.com.hk/" target="_blank" title="squarefoot.com.hk">squarefoot.com.hk</a>
              <span class="pipe-separator">|</span>
              <a href="http://www.iproperty.com.my/" target="_blank" title="iproperty.com.my">iproperty.com.my</a>
              <span class="pipe-separator">|</span>
              <a href="http://www.iproperty.com.ph/" target="_blank" title="iproperty.com.ph">iproperty.com.ph</a>
              <span class="pipe-separator">|</span>
              <a href="http://www.iproperty.com.sg/" target="_blank" title="iproperty.com.sg">iproperty.com.sg</a>
              <span class="pipe-separator">|</span>
              <a href="http://www.rumah123.com/" target="_blank" title="rumah123.com">rumah123.com</a>
              </span>
      </div>
    </div>
    <div class="rui-footer-stock-info">
      <p>realestate.com.au is owned and operated by ASX-listed REA Group Ltd (REA:ASX) <span>© REA Group Ltd.</span>
      </p>
    </div>
  </div>
</div>
