<div class="divnav">
  <nav class="nav">
    <ul>
      <li><a href="Buy">Buy</a></li>
      <li><a href="Rent">Rent</a></li>
      <li><a href="Invest">Invest</a></li>
      <li><a href="Sold">Sold</a></li>
      <li><a href="Share">Share</a></li>
      <li><a href="New homes">New homes</a></li>
      <li><a href="Retire">Retire</a></li>
      <li><a href="Find agents">Find agents</a></li>
      <li><a href="Home ideas">Home ideas</a></li>
      <li><a href="Commercial">Commercial</a></li>
      <li><a href="Sign in" class="signin">Sign in</a></li>
      <li><a href="Join" class="join">Join</a></li>
    </ul>
  </nav>
</div>